body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #0073b1;
    color: white;
    box-shadow: 0 4px 2px -2px gray;
}

.header-top {
    display: flex;
    align-items: center;
    padding: 1rem 0;
    width: 90%;
    margin: 0 auto;
}

.header-top .logo {
    width: 50px;
    height: 50px;
    margin-right: 1rem;
}

.header-top h1 {
    font-size: 2rem;
    margin: 0;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

nav {
    background-color: #005f8c;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1rem;
    position:relative;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 1rem;
    display: block;
}

nav ul li a:hover {
    background-color: white;
    color: #005f8c;
    border-radius: 5px;
}

nav ul ul,
nav ul .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #0073b1;
    min-width: 200px;
    z-index: 1000;
    border-radius: 5px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

nav ul li:hover > ul,
nav ul li:hover > .dropdown-menu {
    display: block;
}

nav ul ul li,
nav ul .dropdown-menu li {
    display: block;
}

nav ul ul ul {
    top: 0;
    left: 100%;
}

nav ul ul li a,
nav ul .dropdown-menu li a {
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    display: block;
}

nav ul ul li a:hover,
nav ul .dropdown-menu li a:hover {
    background-color: white;
    color: #0073b1;
}

main {
    width: 90%;
    margin: 2rem auto;
}

footer {
    background-color: #333;
    color: white;
    padding: 1rem;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-content ul {
    list-style: none;
    padding: 0;
    margin: 0.5rem 0;
    display: flex;
    gap: 1rem;
}

.footer-content ul li {
    margin: 0.5rem 0;
}

#map-container {
    width: 100%;
    height: 400px;
    background-color: grey;
}

#map-container iframe {
    width: 100%;
    height: 100%;
    border: 0;
}
